[submodule "src"]
	path = src
	url = https://github.com/ESCOMP/CICE
        fxtag = cice6_5_0_20241030
        fxrequired = AlwaysRequired
        fxDONOTUSEurl = https://github.com/ESCOMP/CICE
        
